<div fxFlex>
    <div fxLayout fxLayoutGap="10px">
        <div fxFlex="50%">
            <mat-card>
                <mat-card-title>My Profile</mat-card-title>
                <!-- <mat-divider></mat-divider> -->
                <mat-card-content>
                    <div class="login-form">
                        <div fxLayout>
                            <div fxFlex="30%"><b>Firstname:</b></div>
                            <div fxFlex><input  matInput placeholder="Firstname"></div>
                        </div>
                        <div fxLayout>
                            <div fxFlex="30%"><b>Lastname:</b></div>
                            <div fxFlex><input matInput placeholder="Lastname"></div>
                        </div>
                        <div fxLayout>
                            <div fxFlex="30%"><b>Email:</b></div>
                            <div fxFlex><input matInput placeholder="Email"></div>
                        </div>
                        <div fxLayout fxLayoutGap="10px">
                                <div fxFlex="15%"> <button  type="submit" mat-raised-button color="primary" >Save</button></div>
                                <div fxFlex="10%"><button mat-raised-button color="primary" >Cancel</button></div>
                                
                            </div>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="50%">
            <mat-card>
                <mat-card-title>Password Change</mat-card-title>
                <!-- <mat-divider></mat-divider> -->
                <mat-card-content>
                    <div class="login-form">
                        <div fxLayout>
                            <div fxFlex="40%"><b>Current Password:</b></div>
                            <div fxFlex><input type="password" matInput placeholder="*******"></div>
                        </div>
                        <div fxLayout>
                            <div fxFlex="40%"><b>New Password:</b></div>
                            <div fxFlex><input type="password" matInput placeholder="*******"></div>
                        </div>
                        <div fxLayout>
                            <div fxFlex="40%"><b>Confirm Password:</b></div>
                            <div fxFlex><input type="password" matInput placeholder="*******"></div>
                        </div>
                        <div fxLayout fxLayoutGap="10px">
                                <div fxFlex="15%"> <button  type="submit" mat-raised-button color="primary" >Save</button></div>
                                <div fxFlex="10%"><button mat-raised-button color="primary" >Cancel</button></div>
                                
                            </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>


</div>