<h1 mat-divider>Details</h1>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <div fxFlex>
        <mat-card>
            <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout >
                    <div fxFlex="50%"><b>TransportID:</b></div>
                    <div fxFlex>{{record[0].transportId}}</div>        
                </div>
                <div fxLayout >
                    <div fxFlex="50%"><b>Application Name:</b></div>
                    <div fxFlex>{{record[0].applicationName}}</div>        
                </div>
                <div fxLayout >
                    <div fxFlex="50%"><b>Process:</b></div>
                    <div fxFlex>{{record[0].processName}}</div>        
                </div>
                <div fxLayout>
                    <div fxFlex="50%"><b>Data:</b></div>
                    <div >{{record[0].sourceDataName}}</div>        
                </div>
                <div fxLayout>
                    <div fxFlex="50%"><b>Source Data Type:</b></div>
                    <div >{{record[0].sourceDataType}}</div>        
                </div>
                <div fxLayout>
                    <div fxFlex="50%"><b>Output Data Name:</b></div>
                    <div >{{record[0].outputDataName}}</div>        
                </div>
               
                
                <div fxLayout>
                    <div fxFlex="50%"><b>Remarks:</b></div>
                    <div fxFlex>{{record[0].remarks}}</div>        
                </div>
            </mat-card-content>
        </mat-card>
    </div>
 
   
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
</div>