table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-table th,
td {
    text-align: center;
}

.bggreen {
    background-color: green;
    color: white
}

.bgred {
    background-color: red;
    color: white
}
.mr-10{margin-right:10px;}