<div *ngIf="createUser" fxFlex>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <div class="text-center">
                    Create User
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <h1 class="app-name">Sb Admin Material</h1> -->
            <form [formGroup]="userForm" class="login-form" fxFlex>
                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Firstname" formControlName="firstName">
                            <mat-error>
                                <span *ngIf="userForm.controls['firstName'].hasError('required')">Firstname is
                                    <strong>required &nbsp;</strong>
                                </span>
                            </mat-error>
                            <mat-error>
                                <span *ngIf="userForm.controls['firstName'].hasError('isEmailUnique')">Firstname is
                                    <strong>already exists. &nbsp;</strong>
                                </span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Lastname" formControlName="lastName">
                            <mat-error>
                                    <span *ngIf="userForm.controls['lastName'].hasError('required')">Lastname is
                                        <strong>required &nbsp;</strong>
                                    </span>
                                </mat-error>
                        </mat-form-field>
                        
                    </div>
                </div>

                <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Email" formControlName="email">
                            <mat-error>
                                    <span *ngIf="userForm.controls['email'].hasError('required')">Email is
                                        <strong>required &nbsp;</strong>
                                    </span>
                                </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <mat-form-field class="w-100">
                            <input matInput type="password" placeholder="Password" formControlName="password">
                            <mat-error>
                                    <span *ngIf="userForm.controls['password'].hasError('required')">Password is
                                        <strong>required &nbsp;</strong>
                                    </span>
                                </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxFlex fxLayout="row" fxLayout.lt-md="column">
                    <div fxFlexFill>
                        <button mat-raised-button color="primary" class="w-100 mr-10">Save</button>
                        <button mat-raised-button color="primary" class="w-100" (click)="onActivateUserListing()">Cancel</button>
                    </div>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>
<div fxFlex *ngIf="userListing">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Users

                <button style="text-align:right" (click)="onActivateCreateUser()" mat-raised-button color="primary">Add</button>

            </mat-card-title>
        </mat-card-header>
        <mat-card-content>


            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [class.isMobile]="isMobile" matsort>
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef> First Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let element">
                            <span [ngStyle]="{'color':'green'}" *ngIf="element.status == 1">Active</span>
                            <span [ngStyle]="{'color':'red'}" *ngIf="element.status == 0">InActive</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Details </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button class="bggreen">loc 1</button>
                            <b>==></b>
                            <button mat-raised-button [ngStyle]="{'background-color':element.status==='Failed'?'red':'green','color':'white'}">Loc 2</button>
                            <b>==></b>
                            <button mat-raised-button [ngStyle]="{'background-color':element.status==='Completed' ?'green':'grey','color':'white'}">Loc 3</button>
                            <b>==></b>
                            <button mat-raised-button [ngStyle]="{'background-color':element.status==='Completed'?'green':'grey','color':'white'}">Loc 4</button>
                            <b>==></b>
                            <button mat-raised-button [ngStyle]="{'background-color':element.status==='Completed'?'green':'grey','color':'white'}">Loc 5</button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>