table {
    width: 100%;
}
.mat-table th{
text-align: center;

}

.bggreen{background-color: green;color:white}
.bgred{background-color: red;color:white}
.mat-card {
    text-align: center;
    img {
        border-radius: 5px;
        margin-top: -25px;
    }
}


.mb-20 {
    margin-bottom: 20px;
}
